@import "tailwindcss";
@import "./fonts.css";

@layer base {
  :root {
    --default-font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --default-font-size: 16px;
    --default-line-height: 1.6;
  }
  :root[data-theme="light"] {
    --color-primary: #4F46E5;
    --color-secondary: #E0E7FF;
    --color-secondary-200: #4B5563;
    --color-secondary-300: #D1D5DB;
    --color-secondary-700: #F9FAFB;
    --color-accent: #F3F4F6;
    --color-default: #020617;
  }
}

@theme {
  --color-primary: #8B5CF6;
  --color-secondary: #111827;
  --color-secondary-200: #9CA3AF;
  --color-secondary-300: #1F2937;
  --color-secondary-700: #020617;
  --color-accent: #030712;
  --color-default: #E5E7EB;
  --color-quote-btn: #E5E7EB;
}

body {
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  background-color: var(--color-secondary-700);
  color: var(--color-default);
}

.container {
  @apply mx-auto px-4 xl:px-0 max-w-360;
}
